[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/nfwGytautas/glfw
[submodule "vendor/GLM"]
	path = vendor/GLM
	url = https://github.com/nfwGytautas/glm
	branch = stable
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt
[submodule "vendor/pybind"]
	path = vendor/pybind
	url = https://github.com/pybind/pybind11
[submodule "vendor/python"]
	path = vendor/python
	url = https://github.com/nfwGytautas/cpython
[submodule "vendor/stb_image"]
	path = vendor/stb_image
	url = https://github.com/nothings/stb
[submodule "vendor/Assimp"]
	path = vendor/Assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/ocornut/imgui
[submodule "vendor/cereal"]
	path = vendor/cereal
	url = https://github.com/USCiLab/cereal
