[submodule "Triton/vendor/spdlog"]
 path = Triton/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Triton/vendor/GLFW"]
	path = Triton/vendor/GLFW
	url = https://github.com/nfwGytautas/glfw

[submodule "Triton/vendor/GLM"]
	path = Triton/vendor/GLM
	url = https://github.com/nfwGytautas/glm
	branch = stable

[submodule "Triton/vendor/entt"]
	path = Triton/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Triton/vendor/pybind"]
	path = Triton/vendor/pybind
	url = https://github.com/pybind/pybind11
[submodule "Triton/vendor/python"]
	path = Triton/vendor/python
	url = https://github.com/nfwGytautas/cpython
