[submodule "Triton/vendor/spdlog"]
 path = Triton/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Triton/vendor/glm"]
	path = Triton/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Triton/vendor/GLFW"]
	path = Triton/vendor/GLFW
	url = https://github.com/nfwGytautas/glfw
